.container {
    width: auto;
    padding: 1rem;
    background-color: rgb(241, 241, 241);
}

.container>h1 {
    margin: 0;
    padding: 0 0 1rem 0;
    text-align: center;
}

.row {
    display: flex;
    flex-direction: row;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td,
th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

.textbutton {
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    display: inline-block;
}

.textbutton:hover {
    background: #eee;
}